#editor
{
  position: absolute;
  top:    0;
  left:   0;
  width:  50%;
  height: 100%;
}
#viewer
{
  position: absolute;
  top:    0;
  left:   50%;
  width:  50%;
  height: 100%;
}
body
{
  background-color: black;
}